%header.navigation{role: "banner"}
  .navigation-wrapper
    %a.logo{href: "#"}
      %img{src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" }
    %a.navigation-menu-button{id: 'js-mobile-menu', href: '#'} Menu
    %nav{role: 'navigation'}
      %ul.navigation-menu.show{id:'js-navigation-menu'}
        %li.nav-link
          %a{href: '#'} Products
        %li.nav-link
          %a{href: '#'} About Us
        %li.nav-link
          %a{href: '#'} Contact
        %li.nav-link.more
          %a{href: "#"} More
          %ul.submenu
            %li
              %a{href: '#'} Submenu Item
            %li
              %a{href: '#'} Another Item
            %li.more
              %a{href:'#'} Item with submenu
              %ul.submenu
                %li
                  %a{href:'#'} Sub-submenu Item
                %li
                  %a{href:'#'} Another Item
            %li.more
              %a{href:'#'} Another submenu
              %ul.submenu
                %li
                  %a{href:'#'} Sub-submenu Item
                %li
                  %a{href:'#'} Another Item
    .navigation-tools
      .search-bar
        %form{role: 'search'}
          %input{type: 'search', placeholder: 'Enter search'}
          %button{type: 'submit'}
            %img{src: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png'}
      %a{href:'#', class: 'sign-up'} Sign up

%script
